BREVO_API_KEY=
BREVO_SENDER_EMAIL=bestilling@otman.no
BREVO_SENDER_NAME=Otman Transport
MAPBOX_ACCESS_TOKEN=

GMAIL_ACCOUNT_EMAIL=itworkotman@gmail.com
GMAIL_SEND_AS_EMAIL=bestilling@otman.no
GMAIL_USER=itworkotman@gmail.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
EMAIL_REPLY_DOMAIN=reply.otman.no
EMAIL_INBOUND_SECRET=
ORDER_CONVERSATION_BACKUP_EMAIL=itworkotman@gmail.com
ORDER_NOTIFICATION_EMAIL=itworkotman@gmail.com
ORDER_EMAIL_LOGO_URL=https://public-otman-img.s3.eu-north-1.amazonaws.com/LogoLG.png
