@import "tailwindcss";

:root {
  --logoblue: #273097;
  --textcolor: #151515;
  --background: #ffffff;
  --foreground: #151515;
}

@theme {
  --color-logoblue: var(--logoblue);
  --color-textcolor: var(--textcolor);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--textcolor)
}

h1, h2, h3, h4, h5 , th, label {
  font-family: var(--font-plus-jakarta), Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

p, ul, li, a, td {
  font-family: var(--font-geist), Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}