@import "tailwindcss";
@source "./app/**/*.{js,ts,jsx,tsx}";
@source "./components/**/*.{js,ts,jsx,tsx}";

:root {
  --logoblue: #273097;
  --mainPrimary: #ffffff;
  --linePrimary: #0000000a;
  --lineSecondary:#00000031;
  --textcolor: #151515;
  --textColorSecond: #5c5c5c;
  --textColorThird: #838383;
  --background: #ffffff;
  --foreground: #151515;
}

@theme {
  --color-logoblue: var(--logoblue);
  --color-mainPrimary: var(--mainPrimary);
  --color-linePrimary: var(--linePrimary);
  --color-lineSecondary: var(--lineSecondary);
  --color-textcolor: var(--textcolor);
  --color-textColorSecond: var(--textColorSecond);
  --color-textColorThird: var(--textColorThird);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--textcolor)
}

h1, h2, h3, h4, h5 , th, label {
  font-family: plus-jakarta, Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

p, ul, li, a, td {
  font-family: geist, Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}
.priceRow {
  border-bottom: 1px solid #cfcfcf;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.priceRow:last-child{
  border-bottom: 0px solid #ff0101;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
}
.customInput{
  border: 1px solid var(--lineSecondary);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right:8px;
  border-radius: 8px;
}

.customContainer{
  border: 1px solid var(--linePrimary);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.customButtonDefault{
  font-weight: 500;
  color: var(--textColorSecond);
  border: 1px solid var(--linePrimary);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 18px;
  padding-right:18px;
  border-radius: 18px;
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  white-space: nowrap;
}

.customButtonEnabled{
  border: 1px solid var(--linePrimary);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 18px;
  padding-right:18px;
  border-radius: 18px;
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  white-space: nowrap;
  color: var(--mainPrimary);
  background-color: var(--logoblue);
}

.customButtonDefault:disabled {
  opacity: 0.6;
  cursor: auto;
}

.customButtonDefault:hover:not(:disabled){
  color: var(--textcolor);
  background-color: rgba(0, 0, 0, 0.03);
  transition-duration: 200ms;
}
